.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
/* Below media querey helps to automatically changed the width and height of the page if the screen is launched on mobile or on tablet or some different screen size device
@media is know as media query through which we can adjust the size of the page as per screen detected.
*/
@media (min-width: 500px) and (min-height: 400px) { 
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}